/*-------------- home界面 --------------*/
.home {
    height: 100%;
    background: #f5f6fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_frame {
    height: 432px;
    display: flex;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 20px 0 rgb(192 192 205 / 20%);
}

.home_frame_background {
    width: 384px;
    height: 100%;
    background-image: url("/static/image/home_bg.png");
    background-repeat: no-repeat;
    background-color: #f9faff;
}

.home_frame_write {
    width: 324px;
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: default;
}

.home_frame_write > h1 {
    color: #1a1a1e;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 16px;
}

.home_frame_write_join_meeting {
    float:left;
    padding:20px;
}

.home_frame_write_join_meeting > img {
    display:block;
    margin:20px;
    cursor: pointer;
}

.home_frame_write_create_meeting {
    float:right;
    padding:20px;
}

.home_frame_write_create_meeting > img {
    display:block;
    margin:20px;
    cursor: pointer;
}

.home_frame_form {
    width: 324px;
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home_frame_form > h1 {
    color: #1a1a1e;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 16px;
}

.home_frame_write_form_item_roomid {
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
}

.home_frame_write_form_item_roomid_input {
    height: 40px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #f3f3f3;
    padding-left: 4px;
    color: #5a5a67;
    font-size: 14px;
}

.home_frame_write_form_item_roomid_input_warn {
    opacity: 1;
    transition: opacity 1s;
    bottom: 0;
    margin-top: 4px;
    font-size: 12px;
    color: #fe001d;
    cursor: context-menu;
}

.home_frame_write_form_submit {
    background: #314bff;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin: 0 60px;
    border-radius: 40px;
    cursor: pointer;
    user-select: none;
}

/*-------------- 画布 --------------*/
.board_paint {
    cursor: default;
    /* cursor: url("/static/image/sidebar/pen.ico")8 20, pointer; */
}


/*-------------- 侧边栏 --------------*/
.sidebar {
    position: fixed;
    top:0;
    bottom: 0;
    margin: auto;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolbar {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 2px 20px 0px rgb(192 192 205 / 20%);
    padding: 8px 2px;
}

.toolbar_tool {
    position: relative;
    padding: 6px 6px;
}

.toolbar_tool_button {
    z-index: 40;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar_tool_button_icon_line {
    height: 20px;
    width: 20px;
    font-size: 20px;
    opacity: 1;
    color: #5a5a67;
    background-image: url("/static/image/sidebar/line.png");
    background-size: 100% 100%;
    cursor: pointer;
}

.toolbar_tool_button_icon_rectangle {
    height: 20px;
    width: 20px;
    font-size: 20px;
    opacity: 1;
    color: #5a5a67;
    background-image: url("/static/image/sidebar/Rectangle.png");
    background-size: 100% 100%;
    cursor: pointer;
}

.toolbar_tool_button_icon_oval {
    height: 20px;
    width: 20px;
    font-size: 20px;
    opacity: 1;
    color: #5a5a67;
    background-image: url("/static/image/sidebar/Oval.png");
    background-size: 100% 100%;
    cursor: pointer;
}

.toolbar_tool_button_icon_triangle {
    height: 20px;
    width: 20px;
    font-size: 20px;
    opacity: 1;
    color: #5a5a67;
    background-image: url("/static/image/sidebar/Triangle.png");
    background-size: 100% 100%;
    cursor: pointer;
}

.toolbar_tool_button_icon_pen {
    height: 20px;
    width: 20px;
    font-size: 20px;
    opacity: 1;
    color: #5a5a67;
    background-image: url("/static/image/sidebar/pen.png");
    background-size: 100% 100%;
    cursor: pointer;
}